body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(54, 2, 54);
    display: flex;
    justify-content: center;
    
}

#container{
    width: 25vw;
    height: 65vh;
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 5%;
    margin-top: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    color: gb(54, 2, 54) ;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form input{
    margin-bottom: 15px;
    padding: 5px;
    font-size: 1em;
    width: 90%;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

form input:hover{
    border-bottom: 2px solid rgb(54, 2, 54);
}

input[type=submit]{
    width:  50%;
    font-size: 1.2em;
    margin-bottom: 4px;
    margin-top: 18px;
    background-color:rgb(54, 2, 54) ;
    color: white;
    outline: none;
    border: none;
    stroke: none;
    cursor: pointer;
    padding: 10px;
}



input[type=submit]:hover{
    font-weight: bold;
    background-color:rgb(56, 8, 56) ;
    outline: none;
    border: none;
    stroke: none;
    padding: 10px;
}